<!DOCTYPE html>
<html>
<head>


    <title>New Website</title>

    <meta name="author" content="Phaser" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/mystyle.css" />    
    <link rel="stylesheet" href="css/menu.css" />     
    <link rel="stylesheet" href="css/content.css" /> 
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="page_container"> 
        
        <script src="script.js"></script>
        <div id="header">
            <div id="name">
                <h1><a>My Website</a></h1>
            </div>
        </div>
        
        <div id="topnav" >
            <ul class="topmenu">
                <li><a href="/login"> Login</a></li>
                <li><a href="#"> Link2</a></li>
                <li><a href="#"> Link3</a></li>
                <li><a href="#"> useful links</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenu()">Menu ☰</a>
                </li>
            </ul>
        </div>
        <div id="sidemenu" class="absolute-sidemenu"> <h3 class="head">Main menu</h3>
            <a href="/">Home</a>
            <a href="https://www.ya.ru">External link</a>
            <a href="/grid">Grid</a>

        </div>
        <div id="content-wrapper">
            <div id="content">
                    <div id="textheader"><h2>Login page</h2></div>
                    
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                
                <div id="textheader">        
                    <h3>Sign in</h3>
                </div>
                <form method="post" action="/login">
                    <table id="form" >
                        <tr>
                        <td>Login:</td>
                            <td><label><input id="login" name="login" /></label></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><label><input id="password" name="password" /></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="button" value="Enter" id="enter_button" /></td>
                        </tr>
                    </table>
                </form>
                
                
                <div id="textheader">        
                    <h3>Sign up</h3>
                </div>
                <table id="sign" >
                    <tr>
                    <td>Username:</td>
                        <td><label><input id="user_name" name="user_name" /></label></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><label><input id="user_password" name="user_password" /></label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="button" value="Sign up" id="signup_button" /></td>
                    </tr>
                </table>

                <script>
                    var form = document.querySelector("#sign");
                    var user_name = form.querySelector("#user_name");
                    var user_password = form.querySelector("#user_password");
                    form.querySelector('#signup_button').addEventListener('click', function(){
                        var req = new XMLHttpRequest();
                        var request_text = 'signup?user_name=' + encodeURIComponent(user_name.value) +
                                            '&user_password=' + encodeURIComponent(user_password.value);
                        req.open('post', request_text);
                        req.send();
                        req.addEventListener('load', function () {
                            location.replace('/');
                        });
                    });
                </script>
                    
                    
            </div>
        </div>
    </div>
    
    <div id="back-top">
        <span>
            <a id="backtotop-button"  onclick="window.scroll(0,0)" class="hidden"><img src="img/backtotop.png"></a>
        </span>
    </div>
    <div id="footer">
        <p>
            Webpage made by <a href="https://github.com/Phas3r" target="_blank">Phaser</a>
        </p>
    </div>
</body>
</html>